<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.model.StoreDAO">
	<insert id="insertStore" parameterType="StoreVO">
		insert into storeInfo values (store_num_seq.nextval, #{storeName}, #{storeAddress}, #{foodType}, #{latutude}, #{longitude}, #{url})
	</insert>
	
	<select id="storeInfo" resultType="StoreVO">
		select * from storeInfo
	</select>
</mapper>