<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.model.UserDAO">
	<insert id="join" parameterType="UserVO">
		insert into userInfo(id, pw, nickname) values (#{id}, #{pw}, #{nickname})
	</insert>
</mapper>